@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}


.purple-div {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #4a0330 -79.57deg,
    #84021b 91.38deg,
    #a00b28 107.08deg,
    #a24154 149.57deg,
    #a74c5e 177.09deg,
    rgba(108, 27, 78, 0.82) 212.49deg,
    rgba(91, 8, 83, 0.77) 239.53deg,
    rgba(113, 8, 90, 0.96) 252.64deg,
    #450332 267.69deg,
    #4a0330 280.43deg,
    #84021b 451.38deg
  );
}

.interests-banner {
  background: linear-gradient(90.26deg, #a24a5f 17.46%, #7a3672 83.23%);
}

.back-button {
  width: 200px;
  height: 70px;
  background: #ffffff;
  border: 1px solid #a74c5e;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #a74c5e;
}

.back-button:hover {
  background-color: #a74c5e;
  color: white;
}
